<div class="jumbotron">
  <h1>We Love Kittens</h1>
  <p>But don't know where to find them on the internet</b>.</p>
  <p>
    <a class="btn btn-primary btn-lg" role="button" href="/about">About</a>
    <a class="btn btn-danger btn-lg" role="button" href="http://www.gigmasters.com/">More Kittens</a>
  </p>
</div>


<html>
<body>

	
</body>
</html>

