<div class="jumbotron">
  <h1>Your Booking Haven</h1>
  <p>Find a gig</b>.</p>
  <p>
    <a class="btn btn-primary btn-lg" role="button" href="/about">Mission</a>
    <a class="btn btn-danger btn-lg" role="button" href="http://www.gigmasters.com/">Gig Masters</a>
  </p>
</div>


<html>
<body>

	
</body>
</html>

